<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BizCare.Report.Properties.Settings.BIZCAREConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Repos\BizCare\BizCare.View\bin\Debug\BIZCARE.mdb"
      providerName="System.Data.OleDb" />
   
  </connectionStrings>
  
  <appSettings>
  
    <add key="Provider" value="System.Data.OleDb"/>
    <add key="ConnectionString" value="Provider=Microsoft.JET.OlEDB.4.0;Data Source=D:\Repos\BizCare\BizCare.View\bin\Debug\BIZCARE.mdb"/>
    <add key="ReportPath" value="D:\Repos\BizCare\BizCare.View\Report"/>
    <add key="DatabasePath" value="D:\Repos\BizCare\BizCare.View\bin\Debug"/>

    <add key="PrinterName" value="LX300"/>
    <add key="PaperName" value="8.5x5.5"/>

  </appSettings>
</configuration>
